.container {
    display: flex;
    height: 100vh; /* Đảm bảo chiều cao toàn bộ màn hình */
  }
  
.content {
    padding: 20px;
    background-color: #f0f2f5; /* Màu nền nhẹ để phân biệt */
    color: #333; /* Màu chữ tối để dễ đọc */
    flex-grow: 1; /* Đảm bảo phần content chiếm hết chiều ngang còn lại */
    height: 100vh; /* Để phần content cao bằng sidebar */
    overflow: auto; /* Thêm cuộn nếu cần */
  }
  