.content {
    background-image: url("../../../public/back-ground.jpg"); /* Đặt đường dẫn hình ảnh ở đây */
    background-size: cover; /* Đảm bảo hình nền bao phủ toàn bộ chiều rộng và chiều cao */
    background-position: center; /* Căn chỉnh hình ảnh ở giữa */
    width: 100%;
}

