.content {
    background-image: url("../../../public/back-ground-1.jpg"); /* Đặt đường dẫn hình ảnh ở đây */
    background-size: cover; /* Đảm bảo hình nền bao phủ toàn bộ chiều rộng và chiều cao */
    background-position: center; /* Căn chỉnh hình ảnh ở giữa */
    width: 100%;
    min-height: 150vh;  
}

.signupFormContainer {
    position: sticky; /* Hoặc dùng fixed nếu muốn cố định hoàn toàn */
    top: 20px; /* Khoảng cách từ cạnh trên */
    z-index: 10; /* Đảm bảo luôn nằm phía trên */
    padding: 20px;
    border-radius: 8px; /* Tùy chỉnh bo góc */
}