.signup_container {
  display: flex;
  padding: 20px;
}

.signUp {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.3s ease; /* Thêm hiệu ứng mượt khi thay đổi màu nền */
}

.signUp:hover {
  background-color: rgba(255, 255, 255, 1); /* Màu nền trắng không trong suốt */
}


.title {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.lbSignupFrm {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 500;
}

.field {
  width: 100%;
  border-radius: 5px;
  border: none;
}

.icon {
  font-size: 1.2em;
}

.roleContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f6fe;
  border-radius: 5px;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
}

.confirmPolicy {
  font-size: 0.8em;
  color: #666;
  text-align: center;
}

.confirmPolicy a {
  color: #007bff;
  text-decoration: none;
}

.confirmPolicy a:hover {
  text-decoration: underline;
}

/* Sử dụng Flexbox để chia form thành 2 cột */
.formContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formColumn {
  flex: 1 1 45%; /* Chia đôi với độ rộng tối thiểu là 45% */
}

@media (max-width: 768px) {
  .formColumn {
    flex: 1 1 100%; /* Khi màn hình nhỏ, các cột sẽ chiếm 100% chiều rộng */
  }
}
