.signUp {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.title {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.lbSignUpFrm {
  font-weight: 600;
  font-size: 1rem;
}

.field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f2f6fe;
}

.icon {
  font-size: 1.2em;
}

.roleContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 2px dashed #ddd;
  border-radius: 5px;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
}

.confirmPolicy {
  font-size: 0.8em;
  color: #666;
  text-align: center;
}

.confirmPolicy a {
  color: #007bff;
  text-decoration: none;
}

.confirmPolicy a:hover {
  text-decoration: underline;
}
