.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
  }
  
  .filter {
    width: 200px;
    margin-left: 0; /* Căn lề trái */
    margin-bottom: 20px;
    font-size: 14px; /* Làm nhỏ lại */
  }
  
  .createRoomButton {
    align-self: flex-end; /* Căn lề phải */
    font-size: 14px; /* Làm nhỏ lại */
    margin-top: 20px;
  }
  
  .roomItem {
    margin-bottom: 16px;
  }
  
  .roomContent {
    display: flex;
    justify-content: space-between;
  }
  
  .roomDetails {
    flex: 1;
  }
  
  .actionButtons {
    display: flex;
    justify-content: flex-end;
  }
  
  .price {
    font-weight: bold;
    font-size: 16px;
  }
  